@model Dictionary<string, (decimal, string, string)>


<form id="uploadForm" method="post" enctype="multipart/form-data">
    <div style="display: flex; justify-content: space-between">
        <div>
            <label for="pdfFile">Загрузитe PDF-файл:</label>
            <input type="file" id="pdfFile" name="pdfFile" accept=".pdf" />
        </div>
        <div>
            <label for="xlsxFile">Загрузитe Excel-файл:</label>
            <input type="file" id="xlsxFile" name="xlsxFile" accept=".xlsx,.xls" />
        </div>
    </div>
    <div style="display: flex; justify-content: center">
        <button id="submitForm" disabled type="submit">Сравнить файлы</button>
    </div>
</form>


@section scripts {
    <script>
        const submitBtn = document.getElementById('submitForm');
        const pdfFile = document.getElementById('pdfFile');
        pdfFile.addEventListener('change', (e) => {
            var pdf = pdfFile.files[0]
            if (pdf) {
                var pdfFileType = pdf.type;
                if (pdfFileType !== "application/pdf") {
                    alert("Пожалуйста, выберите PDF-файл.");
                    pdfFile.value = "";
                    submitBtn.disabled = true;
                } else {
                    if (pdfFile.files.length > 0 && xlsxFile.files.length > 0) {
                        submitBtn.disabled = false;
                    }
                }
            } else {
                alert("Пожалуйста, выберите PDF-файл.");
            }
        });

        const xlsxFile = document.getElementById('xlsxFile');
        xlsxFile.addEventListener('change', (e) => {
            var xlsx = xlsxFile.files[0]
            if (xlsx) {
                var xlsxFileType = xlsx.type;
                if (xlsxFileType !== "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    && xlsxFileType !== "application/vnd.ms-excel") {
                    alert("Пожалуйста, загрузите Excel-файл.");
                    xlsxFile.value = "";
                    submitBtn.disabled = true;
                } else {
                    if (pdfFile.files.length > 0 && xlsxFile.files.length > 0) {
                        submitBtn.disabled = false;
                    }
                }
            } else {
                alert("Пожалуйста, загрузите Excel-файл.");
            }
        });

        submitBtn.addEventListener('click', async () => {
            const formData = new FormData();
            var pdf = pdfFile.files[0];
            formData.append('pdfFile', pdf); // Specify the name 'pdfFile'
            var excel = xlsxFile.files[0];
            formData.append('xlsxFile', excel); // Specify the name 'xlsxFile'
            const response = await fetch("/Home/Upload", {
                method: 'POST',
                body: formData
            });
            pdfFile.value = '';
            xlsxFile.value = '';
        });

    </script>
}
