@model Dictionary<string, (decimal, string, string)>


<form id="uploadForm" method="post" enctype="multipart/form-data">
    <div>
        <label for="pdfFile">PDF File:</label>
        <input type="file" id="pdfFile" name="pdfFile" accept=".pdf" />
    </div>
    <div>
        <label for="xlsxFile">Excel File:</label>
        <input type="file" id="xlsxFile" name="xlsxFile" accept=".xlsx,.xls" />
    </div>

    <button id="submitForm" disabled type="submit">Upload Files</button>
</form>


@section scripts {
    <script>


        const submitBtn = document.getElementById('submitForm');
        const pdfFile = document.getElementById('pdfFile');
        pdfFile.addEventListener('change', (e) => {
            var pdf = pdfFile.files[0]
            if (pdf) {
                var pdfFileType = pdf.type;
                if (pdfFileType !== "application/pdf") {
                    alert("Please upload a PDF file.");
                    pdfFile.value = "";
                    submitBtn.disabled = true;
                } else {
                    if (pdfFile.files.length > 0 && xlsxFile.files.length > 0) {
                        submitBtn.disabled = false;
                    }
                }
            } else {
                alert("Please select a PDF file.");
            }
        });

        const xlsxFile = document.getElementById('xlsxFile');
        xlsxFile.addEventListener('change', (e) => {
            var xlsx = xlsxFile.files[0]
            if (xlsx) {
                var xlsxFileType = xlsx.type;
                if (xlsxFileType !== "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    && xlsxFileType !== "application/vnd.ms-excel") {
                    alert("Please upload an Excel file.");
                    xlsxFile.value = "";
                    submitBtn.disabled = true;
                } else {
                    if (pdfFile.files.length > 0 && xlsxFile.files.length > 0) {
                        submitBtn.disabled = false;
                    }
                }
            } else {
                alert("Please select an Excel file.");
            }
        });

        submitBtn.addEventListener('click', async () => {
            const formData = new FormData();
            formData.append(pdfFile.files[0]);
            formData.append(xlsxFile.files[0]);

            const response = await fetch("/Home/Upload", {
                method: 'POST',
                body: formData
            });
        })
    </script>
}
