@model Dictionary<string, (decimal, string, string)>

<form id="uploadForm" method="post" enctype="multipart/form-data">
    <div>
        <label for="pdfFile">PDF File:</label>
        <input type="file" id="pdfFile" name="pdfFile" accept=".pdf" />
    </div>
    <div>
        <label for="xlsxFile">Excel File:</label>
        <input type="file" id="xlsxFile" name="xlsxFile" accept=".xlsx,.xls" />
    </div>

    <button id="submitForm" disabled type="submit">Upload Files</button>
</form>


@if (Model != null)
{
    <div>
        <table>
            <thead>
                <tr>Name</tr>
                <tr>Summ</tr>
                <tr>Comment</tr>
                <tr>Color</tr>
            </thead>
            <tbody>
                @foreach(var val in Model){
                    <tr>@val.Key</tr>
                    <tr>@val.Value.Item1</tr>
                    <tr>@val.Value.Item2</tr>
                    <tr>@val.Value.Item3</tr>
                }
            </tbody>
        </table>
    </div>

}





@section scripts {
    <script>
        const submitBtn = document.getElementById('submitForm');
        const pdfFile = document.getElementById('pdfFile');
        pdfFile.addEventListener('change', (e) => {
            var pdf = pdfFile.files[0]
            if (pdf) {
                var pdfFileType = pdf.type;
                if (pdfFileType !== "application/pdf") {
                    alert("Please upload a PDF file.");
                    pdfFile.value = "";
                    submitBtn.disabled = true;
                } else {
                    if (pdfFile.files.length > 0 && xlsxFile.files.length > 0) {
                        submitBtn.disabled = false;
                    }
                }
            } else {
                alert("Please select a PDF file.");
            }
        });

        const xlsxFile = document.getElementById('xlsxFile');
        xlsxFile.addEventListener('change', (e) => {
            var xlsx = xlsxFile.files[0]
            if (xlsx) {
                var xlsxFileType = xlsx.type;
                if (xlsxFileType !== "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    && xlsxFileType !== "application/vnd.ms-excel") {
                    alert("Please upload an Excel file.");
                    xlsxFile.value = "";
                    submitBtn.disabled = true;
                } else {
                    if (pdfFile.files.length > 0 && xlsxFile.files.length > 0) {
                        submitBtn.disabled = false;
                    }
                }
            } else {
                alert("Please select an Excel file.");
            }
        });

        submitBtn.addEventListener('click', async () => {
            const formData = new FormData();
            formData.append(pdfFile.files[0]);
            formData.append(xlsxFile.files[0]);

            const response = await fetch("/Home/Upload", {
                method: 'POST',
                body: formData
            });
        })


                        // const upload = document.getElementById('upload');

                        // upload.addEventListener('click', () => {
                        //     // set status to uploading
                        //     status.innerHTML = ‘uploading…’;

                        //     const fileReader = new FileReader();
                        //     fileReader.readAsArrayBuffer(file.files[0]);


                        //     fileReader.onload = (event) => {
                        //         console.log('Complete File read successfully!')
                        //     }
                        // });


                        // $(document).ready(function checkPdfFiles() {
                        //     console.log("Ready!");
                        // });
                        // function checkFiles() {
                        //     console.log('test');
                        //     var pdfFile = document.getElementById('pdfFile').files[0];
                        //     var xlsxFile = document.getElementById('xlsxFile').files[0];
                        //     var cnt = 0;

                        //     if (pdfFile) {
                        //         var pdfFileType = pdfFile.type;
                        //         if (pdfFileType !== "application/pdf") {
                        //             alert("Please upload a PDF file.");
                        //             return false;
                        //         } else {
                        //             cnt++;
                        //         }
                        //     } else {
                        //         alert("Please select a PDF file.");
                        //         return false;
                        //     }

                        //     if (xlsxFile) {
                        //         var xlsxFileType = xlsxFile.type;
                        //         if (xlsxFileType !== "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        //         && xlsxFileType !== "application/vnd.ms-excel") {
                        //             alert("Please upload an Excel file.");
                        //             return false;
                        //         } else {
                        //             cnt++;
                        //         }
                        //     } else {
                        //         alert("Please select an Excel file.");
                        //         return false;
                        //     }

                        //     if (cnt === 2) {
                        //         document.getElementById('submitForm').disabled = false;
                        //         return true;
                        //     }
                        // }
    </script>
}
